<!DOCTYPE html>
<html lang="FR">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link href="assets/css/parasaurolophus.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/header.css" rel="stylesheet" type="text/css" />
        <title>Parasaurolophus</title>
    </head>

    <body>
        <header>
            <header>
                <!--BG + Titre + Vignette profil-->
                <div id="headerBG" class="row">
                    <div class="col-md-4 offset-md-4 text-center my-auto text-white">
                        <h1>REFEROSAURIA</h1>
                    </div>
                    <div class="col-md-2 offset-md-2 border border-dark rounded bg-white text-center">
                        <div class="row">
                            <div class="col">
                                <img class="border border-dark rounded my-2" alt="Image de Ben le diplo" src="assets/img/dipHead.jpg" />
                            </div>
                            <div class="col m-auto">
                                <div class="border border-dark rounded mr-4">
                                    <p>Nom : Ben</p>
                                    <p>Rang : Diplo</p>
                                </div>
                            </div>

                        </div>
                        <button class="btn btn-outline-dark bg-info my-2">Connexion</button>
                    </div>

                </div>
                <!--NavBar-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand d-md-none" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="dinoList.html">Liste des dinosaures</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Découvrir
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                    <a class="dropdown-item" href="#">Paléonthologie</a>
                                    <a class="dropdown-item" href="#">Herbivores</a>
                                    <a class="dropdown-item" href="#">Carnivores</a>
                                    <a class="dropdown-item" href="#">Animaux Volants</a>
                                    <a class="dropdown-item" href="#">Animaux Marins</a>
                                    <a class="dropdown-item" href="#">Insectes</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Contribuer
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <a class="dropdown-item" href="#">Déposer un article</a>
                                    <a class="dropdown-item" href="#">Faire un don</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Jeux
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                    <a class="dropdown-item" href="#">Quizz</a>
                                    <a class="dropdown-item" href="#">Générateur de Dinom</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Quizz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Forum</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
                        </form>
                    </div>
                </nav>
                <!--Fil d'arianne-->
                <nav class="bg-light row pl-3" aria-label="breadcrumb" id="arianaRope">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Accueil</li>
                        <li class="breadcrumb-item active">Liste des dinosaures</li>
                        <li class="breadcrumb-item active" aria-current="page">Parasaurolophus</li>
                    </ol>
                </nav>
                <!--Fresque Géologique-->
                <div id="GTS" class="row text-center text-white border border-dark mt-2">
                    <!--Trias-->
                    <div id="triasGTS" class="col-md-4 border">
                        <ol>
                            <li>Trias</li>
                            <li>-252Ma à -201Ma</li>
                        </ol>
                        <div class="row">
                            <div class="col border">
                                <ol>
                                    <li>Inférieur</li>
                                    <li>-252Ma à -247Ma</li>
                                </ol>
                            </div>
                            <div class="col border">
                                <ol>
                                    <li>Moyen</li>
                                    <li>-247Ma à -237Ma</li>
                                </ol>
                            </div>
                            <div class="col border">
                                <ol>
                                    <li>Supérieur</li>
                                    <li>-237Ma à -201Ma</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!--Jurassique-->
                    <div id="jurassicGTS" class="col-md-4 border">
                        <ol>
                            <li>Jurassique</li>
                            <li>-201Ma à -145Ma</li>
                        </ol>
                        <div class="row">
                            <div class="col border">
                                <ol>
                                    <li>Inférieur</li>
                                    <li>-201Ma à -174Ma</li>
                                </ol>
                            </div>
                            <div class="col border">
                                <ol>
                                    <li>Moyen</li>
                                    <li>-174Ma à -163Ma</li>
                                </ol>
                            </div>
                            <div class="col border">
                                <ol>
                                    <li>Supérieur</li>
                                    <li>-163Ma à -145Ma</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!--Crétacé-->
                    <div id="cretaGTS" class="col-md-4 border">
                        <ol>
                            <li>Crétacé</li>
                            <li>-145Ma à -66Ma</li>
                        </ol>
                        <div class="row">
                            <div class="col border">
                                <ol>
                                    <li>Inférieur</li>
                                    <li>-145Ma à -100Ma</li>
                                </ol>
                            </div>
                            <div class="col border">
                                <ol>
                                    <li>Supérieur</li>
                                    <li>-100Ma à -66Ma</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </header>
        <main>
            <main class="my-2">
                <div class="container-fluid">
                    <h1 class="text-center my-5">Parasaurolophus (reptile à crêtes à cloisons parallèles)</h1>
                    <div class="row">
                        <div class="col-md-2 text-center border">
                            <p class="h6 text-center">Où a-t-on trouvé Parasaurolophus ?</p>
                            <img src="assets/img/paraLocalisation.jpg" class="img-fluid" />
                            <p class="h5 mt-5">Derniers sujets en rapport :</p>
                            <ul class="border" id="recentPostList">
                                <li><a href="#">Le para pouvait-il voler ?</a></li>
                                <li>12/05/2020</li>
                                <li><a href="#">Les films avec un ou des parasaures</a></li>
                                <li>05/02/2020</li>
                                <li><a href="#">Sa mangé quoi un parasololophus ??</a></li>
                                <li>28/01/2020</li>
                            </ul>
                        </div>
                        <div class="col-md-4 border border-success m-auto">
                            <img class="img-fluid" src="assets/img/parasaurolophus.jpg" />
                        </div>
                        <div class="col-md-5 m-auto">
                            <p class="h5 text-center">Description</p>
                            <p>Comme pour de nombreux dinosaures, le squelette de Parasaurolophus n'est pas connu dans sa totalité. Sa morphologie n'est donc pas exactement connue. La longueur du
                                spécimen type de P. walkeri est
                                estimée à 9,50 m pour un crâne mesurant environ 1,60 m de long (crête incluse), alors que celui de P. tubicen est estimé à plus de 2 m ce qui indique un animal plus
                                grand. Sa masse est estimée à 2,5 tonnes. Le seul membre antérieur connu du spécimen type est relativement court pour un hadrosaure, avec une petite mais large
                                omoplate. Ceci tend à montrer que les
                                hadrosaures descendent d'animaux
                                bipèdes. Le fémur de P. walkeri mesure 103 cm, et est très robuste par rapport à sa longueur, comparé aux autres hadrosaures. L'humérus et le bassin sont aussi très
                                robustes. Parasaurolophus a la
                                crête la plus longue de tous les hadrosauridés, puisqu'elle mesure environ 1,80 mètre de long.</br></br>
                                On a longtemps pensé que Parasaurolophus se servait de sa gigantesque queue pour nager, mais on a découvert des fossiles de Parasaurolophus dans des roches dont la
                                nature bien particulière suggère
                                qu'il vivait dans un environnement terrestre sec, semblable à l'habitat des éléphants. De plus, la manière dont les os de la queue s'emboîtent montre que ce dinosaure
                                n'était pas capable d'effectuer
                                de puissants mouvements latéraux avec sa queue, nécessaires pour pouvoir nager. Les contenus d'estomacs fossilisés retrouvés contiennent aussi principalement des
                                plantes terrestres. Il ne vivait donc
                                pas dans les alentours des fleuves et des lacs du Crétacé supérieur, mais plutôt sur la terre ferme, se nourrissant de plantes coriaces.</p>
                            <p class="text-right"><a href="#">Source : WIKIPEDIA</a></p>
                        </div>
                        <div class="col-md-1 text-center border">
                            <p class="h5 text-center">Ils ont vécus dans la même période :</p>
                            <div><img src="assets/img/parasaurolophusHead.jpg" style="width:100px; height:100px;" class="m-3 border border-success" /></div>
                            <div><img src="assets/img/rexHead.png" style="width:100px; height:100px;" class="m-3 border border-danger" /></div>
                            <div><img src="assets/img/parasaurolophusHead.jpg" style="width:100px; height:100px;" class="m-3 border border-success" /></div>
                        </div>
                    </div>
                    <h1 class="text-center">Plus de détails</h1>

                </div>


            </main>
        </main>



        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>

</html>