*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    background-image: url('../img/bg.jpg');
    background-position: top center;
    background-attachment:scroll;
    background-size: cover;
}
.btn{
    background-color : #0086BE !important; 
    color : white !important;
}
.btn-delete{
    background-color : red!important; 
    color : white !important;
}
.cutPara{

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}
/****** Couleurs élement pricipaux ******/
#headerBG{
    background-color : transparent;;
    height: 150px;
}
.creaName{
    color : #DE541E;
    font-family: 'Pacifico', cursive;
}
#mainNav, footer, .modal-header{
    background-color: #41521F !important;
}
.divBackColor{
    background-color: #DECAB0;
}
.fieldIcon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
.titleStyle{
    color : #DE541E;
    font-family: 'Pacifico', cursive;
}

.mainTitle{
    color : #0086BE;
}

#changeText{
    font-size: 20px;
}
.noListStyle{
    list-style: none;
}

/****** Recent posts CSS ******/
#recentPostList li{
    list-style: none;
}
#recentPostList li:nth-child(odd){
    text-align: left;
}
#recentPostList li:nth-child(even){
    text-align: right;
}

.filter{
    background-color: #4F5165;
}

.breadcrumbLink{
    color: white; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
/* change la couleur du séparateur du fil d'ariane boostrap */
.breadcrumb-item + .breadcrumb-item::before {
      color: white;
}

.filter a, .mailEnvelope a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.gertie {
    float: right;
    padding: 50px;
    padding-right: 0px;
    /* défini les contours de l'image qui est en transparence*/
    shape-outside: polygon(60.65% 33px, 70.86% 22.66%, 73.45% 28.89%, 74.52% 51.97%, 82.27% 49.92%, 91.32% 55.56%, 77.05% 64.17%, 68.57% 72.11%, 70.52% 79.05%, 71.93% 84.03%, 60.94% 89.08%, 50% 88.22%, 50.41% 80.43%, 44.65% 79.55%, 44.36% 73.73%, 38.74% 70.34%, 35.04% 65.14%, 38.72% 58.44%, 36.06% 51.51%, 27.93% 52.55%, 20.26% 59.63%, 12.59% 63.63%, 31px 55.56%, 23.94% 40.04%, 39.65% 31.27%);   }

.breadcrumb {
    margin-bottom: 0px !important;
    background-color: #547AA5;
}
.buttonBG{
    background-color: rgba(0, 255, 0, 0.1);;
}
ol{
    list-style: none;
}


/****** FIN PAGE CREATURE ******/

/****** PAGE PROFIL ******/

#profilNav li{
    list-style: none;
    margin: 10px 0;
}

/****** FIN PAGE PROFIL ******/

/****** PAGE ADMINISTRATION ******/

/* fait que les modales prennent la taille du contenu en largeur */
/* body .modal-dialog {
    max-width: 100%;
    width: auto !important;
    display: inline-block;
} */
/* place la modale au centre de la vue */
/* .modal {
    text-align: center;
} */

/***************************************** JAUGE PASSWORD STRENGTH ****************************************************/
meter {
    width: 100%;
    height: 1em;
    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}
  
meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }
/* Pour moteurs : Gecko (firefox ...) */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }


/** MEDIA QUERIES **/
@media (max-width: 768px){
    
}
