#recentPostList li{
    list-style: none;
}
#recentPostList li:nth-child(odd){
    text-align: left;
}
#recentPostList li:nth-child(even){
    text-align: right;
}

.imageAutoSize{
    width : 200px;
    height: auto;
}
@media (max-width: 768px){
    .noImg{
        display: none;
    }
}